#bar {
    background-color: rgb(186, 187, 187);
}
body{
    background-color: rgb(186, 187, 187);
}
.footer {
    display: flex;
    flex-direction: row; /* Align items in a row */
    align-items: center;
    justify-content: space-between; /* Space between elements */
    background-color: #fffafa;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
    border-top: 1px solid black;
}